@import "../header/header.component.scss";

*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url();

mat-card-header{
    h2{
        font-size: 50px;
        text-align: center;
        color: $cor-principal;
        back

        &:hover{
            color: rgb(66, 0, 110);
            cursor: context-menu;
        }
    }
}
}