<mat-toolbar>
    <div class="container">
        <h1><a href="http://localhost:4200/home">Happy Home Imóveis</a></h1>
        <span class="menu-spacer"></span>
        <button mat-button routerLink="login-page">
            <h3 class="mat-toolbar-text">Login</h3>
        </button>
        <button mat-button routerLink="home">
            <h3 class="mat-toolbar-text">Home</h3>
        </button>
        <button mat-button routerLink="quem-somos">
            <h3 class="mat-toolbar-text">Quem Somos</h3>
        </button>
        <button mat-button routerLink="contato">
            <h3 class="mat-toolbar-text">Contato</h3>
        </button>
    </div>
</mat-toolbar>
