<div class="container-end">
    <mat-toolbar>
        <span>{{title}} | </span>
        <span class="example-spacer"></span>
        <div *ngFor="let redeSocial of redesSociais">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="seeDetails(redeSocial.nome)">
                    <img class="imageSocialLinks" mat-card-image [src]="redeSocial.icone" [alt]="" />
            </button>
        </div>
    </mat-toolbar>
</div>