<div class="container">
    <h1 id="homeTittle">Olá {{nome}}</h1>

    <h2>Lista de imóveis :</h2>
    <mat-grid-list cols="3" rowHeight="3:5">
        <mat-grid-tile *ngFor="let imovel of imoveis">
            <mat-card>
                <img mat-card-image src="../../assets/img home/home.jpg" alt="Sell Home 01" class="moveisPhoto">
                <mat-card-content>
                    <h2>{{imovel}}</h2>
                    <ul>
                        <li>Bedrooms : 04</li>
                        <li>WC : 03</li>
                        <li>Metragem 360m²</li>
                        <li>Preço: R$890.000,00</li>
                    </ul>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">Primary</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>